:root {
  --branco-principal: #FFFFFF;
  --cinza-secundario: #C0C0C0;
  --botao-azul: #167BD7;
  --cor-fundo: #00030C;
  --fonte-principal: 'Inter';
}

body {
  background-color: var(--cor-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  max-width: 1200px;
  margin: 0 auto;
}

.container__titulo {
  font-size: calc(18px + 2vmin);
  font-weight: 700;
  margin-bottom: 1em;
}

.container__imagem,
.secundario__imagem {
  margin: 1em 0 2em 0;
  max-width: 100%;
  height: auto;
}

.container__caixa {
  margin: 0 auto;
  text-align: center;
  padding: 1em;
}

.container__botao,
.secundario__botao {
  background-color: var(--botao-azul);
  border-radius: 5px;
  padding: 1em 2em;
  color: var(--branco-principal);
  display: block;
  text-decoration: none;
  margin: 0.5em auto;
}

.botao_secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}

.container__aviso {
  font-size: calc(10px + 0.5vmin);
  color: var(--cinza-secundario);
}

.descricao__titulo {
  font-weight: 700;
  font-size: calc(24px + 1vmin);
  color: var(--branco-principal);
  margin-bottom: 0.1em;
}

.descricao__texto {
  color: var(--cinza-secundario);
  margin-bottom: 2em;
}

.dispositivos {
  text-align: center;
}

.dispositivos__titulo {
  font-size: calc(24px + 1vmin);
  color: var(--branco-principal);
  margin-bottom: 1em;
}

.lista__item {
  font-size: calc(18px + 1vmin);
  color: var(--branco-principal);
  margin-bottom: 0.5em;
}

ul {
  list-style-type: none;
}

.rodape {
  background-color: var(--botao-azul);
  color: var(--branco-principal);
  padding: 3em;
  text-align: center;
}

.rodape__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 1em 0;
}

.lista__link a {
  text-decoration: none;
  color: var(--branco-principal);
  margin-left: 1em;
}

.rodape__texto {
  margin: 1em 0;
  color: var(--cinza-secundario);
  font-size: calc(10px + 0.5vmin);
}

.lista__link a:hover {
  color: var(--branco-principal);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }
  
  .descricao__titulo,
  .dispositivos__titulo {
    font-size: calc(18px + 1vmin);
  }
  
  .lista__item {
    font-size: calc(16px + 1vmin);
  }

  .rodape__lista {
    flex-direction: column;
    align-items: center;
  }

  .lista__link a {
    margin: 0.5em 0;
  }
}
